
<nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Furni navigation bar">
	<div class="container">
		<a class="navbar-brand" href="index.html">MyFurniture<span></span>
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsFurni">
			<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('app_home') }}">Home</a>
				</li>
				<li>
					<a class="nav-link" href="{{ path('produit.index') }}">Shop</a>
				</li>
				<li>
					<a class="nav-link" href="{{ path('about') }}">About us</a>
				</li>
				<li>
					<a class="nav-link" href="{{ path('contact') }}">Contact us</a>
				</li>

				{% if app.user %}
					{% if 'ROLE_ADMIN' in app.user.roles %}
						<li>
							<a class="nav-link" href="{{ path('admin') }}">Dashboard</a>
						</li>

					{% elseif 'ROLE_CLIENT' in app.user.roles %}
						<li>
							<a class="nav-link" href="">Order History</a>
						</li>

					{% endif %}
					<li>
						<a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
					</li>
					<li>
					<a class="nav-link" href="{{ path('cart_show') }}"><img src="{{ asset('images/cart.svg') }}"></a>
				</li>
				{% else %}
					<li>
						<a class="nav-link" href="{{ path('app_login') }}">Login</a>
					</li>
					<li>
						<a class="nav-link" href="{{path('app_register')}}">Register</a>
					</li>
				{% endif %}
			</ul>

			<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
				{% if app.user and app.user.roles is defined %}
					{% if 'ROLE_ADMIN' in app.user.roles %}
						<li>
							<a class="nav-link" href="#"><img src="{{ asset('images/user.svg') }}"></a>
                               <p>Hello {{ app.user.firstname }} {{ app.user.lastname }}! ✅</p>
						</li>
					{% endif %}
				{% endif %}
				{% if app.user and app.user.roles is defined %}
					{% if 'ROLE_CLIENT' in app.user.roles %}
						<li>
							<a class="nav-link" href="#"><img src="{{ asset('images/user.svg') }}"></a>
                               <p>Hello {{ app.user.firstname }} {{ app.user.lastname }}! ✅</p>
                               
						</li>
					{% endif %}
				{% endif %}
				
			</ul>
		</div>
	</div>
</nav>
